body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf4f9; /* Light Blue */
}

header {
    background-color: #333; /* Dark Blue 3498db */
    color: #fff;
    text-align: center;
    padding: 10px 0;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
     color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.main-content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services {
    border-top: 2px solid #3498db; /* Dark Blue */
    margin-top: 20px;
    padding-top: 20px;
}

.why-choose-us {
    border-top: 2px solid #3498db; /* Dark Blue */
    margin-top: 20px;
    padding-top: 20px;
}

.call-to-action {
    margin-top: 20px;
}

.address {
     border-top: 2px solid #3498db; /* Dark Blue */
     margin-top: 20px;
    padding-top: 20px;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
main {
    padding: 20px 0;
}
