* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
  color: #3498db;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Header styles */
header {
  color: #fff;
  background-image: url("header.jpg");
  background-size: cover;
  padding: 50px 20px; /* Adjust padding for spacing */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-end; /* Align items to the right */
  height: 300px; /* Set a fixed height if needed */
  justify-content: center; /* Vertically center content */
}

header h1 {
  font-size: 2em;
  margin-bottom: 20px; /* Add space between title and navigation */
}

/* Navigation styles */
nav {
  text-align: right; /* Align text to the right */
  width: 100%; /* Take full width */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

nav ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #555;
}

/* Main content styles */
main {
  padding: 40px 0;
}

/* Footer styles */
footer {
  background-color: #3498db; /* Light blue */
  color: #fff;
  text-align: center;
  padding: 20px 0; /* Increase padding for more space */
  position: relative; /* Change from fixed to relative */
  width: 100%;
  margin-top: 20px; /* Ensure there's space between content and footer */
}

/* Responsive design */
@media (max-width: 768px) {
  header {
    align-items: center; /* Center align on small screens */
    text-align: center; /* Center text on small screens */
    padding: 50px 10px; /* Adjust padding */
    height: auto; /* Allow height to adjust automatically */
  }

  nav {
    text-align: center; /* Center navigation on small screens */
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
